*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    
    flex-direction: column;
    position: relative;
    
   

    width: 30vw;
    height: 50vh;

    border-radius: 1vw;
    background-color: #fff;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

img{
    width: 6vw;
    height: auto;
}

ul{
    display: flex;
    flex-direction: row;
    
    list-style: none;
    align-items: center;
}

li{
    cursor: pointer;
    font-size: 1.5vw;
    margin-right: 3vw;
    

}

li:hover{
    transform:scale(1.5);
}

h1{
    text-align: center;
    margin-top: 1vh;
    font-size: 5vh;
    color: #7E6FB5;
    cursor: pointer;
    margin-bottom: 3vh;
}

h4{
    margin-top: 1vh;
    color: #7E6FB5;
}

section{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

button {
    margin-bottom: 1vh;

    width: 16vh;
    cursor: pointer;
    position: relative;
    padding: 1vh 2vh;
    font-size: 2vh;
    color: #7E6FB5;
    border: 0.2vh solid #7E6FB5;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 5vw;
  height: 5vh;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #7E6FB5;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

button:hover::before {
  scale: 4;
}

button:hover {
  color: #fff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

button:active {
  scale: 1;
}