section{
    justify-content: center;
    align-items: center;
}

.container-up{
    width: calc(100% - 7vw);
}


.input-group2{
    display: flex;
    flex-direction: row;
}

.group-input{
    margin-right: 1vh;
}

.container_search {
    position: relative;
    color: #7E6FB5;
    margin-bottom:8vh;
    
}